body {
 background-color: darkred;
 color:indigo;
 font-family: "Bai Jamjuree", sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0;
}
button{
    background-color: darkblue;
    color:black;
    font-family:"Bai Jamjuree", sans-serif;
}